h1 {
    color: rgba(83, 68, 27, 0.7);
    font-size: 5rem;
    margin: 45px 0 0 0;
}

input {
    display: block;
    min-height: 30px;
    min-width: 60%;
    margin: 0 auto;
}

form {
    text-align: center;
    margin: 10px auto;
    padding: 10px 30px;
    font-size: 1.5rem;
    width: 60%;
}

form legend {
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* min-height: 50vh; */
    border-color: black;
    border-radius: 15px;
    padding-bottom: 20px;
}

form textarea {
    width: 80%;
    margin: 15px auto;
}

form button {
    margin: 5px auto;
    padding: 5px;
    min-width: 5vw;
    font-size: 1.2rem;
}

div>button {
    font-size: 0.75rem;
    margin: 5px;
}

.task-holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.list-holder {
    width: 100%;
    min-height: 50vh;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 60%;
    margin: 0 auto;
    border-radius: 15px;
}

.btn-holder {
    display: flex;
    justify-items: center;
    align-items: center;
}

.task-content {
    text-align: center;
    overflow: auto;
}

.hidden {
    display: none;
}

.error-msg {
    width: 60%;
    background-color: red;
    padding: 5px;
    text-align: center;
    margin: 5px auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(240, 45, 45, 0.75);
}

.task-holder>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 30%;
    max-height: 25vh;
    color: darkblue;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(194, 186, 78, 0.5);
}

@media (max-width: 950px) {
    h1 {
        font-size: 3.5rem;
    }
    
    .list {
        width: 80%;
    }
}

@media (max-width: 800px) {
    form {
        width: 70%;
    }

    .list {
        width: 100%;
    }

    .task-holder {
        justify-content: space-evenly;
    }

    .task-holder>div {
        width: 47%;
    }
}

@media (max-width: 683px) {
    form { 
        width: 80%;
        padding: 10px;
    }

    .task-holder>div,
    .task-content {
        width: 80%;
    }

    .btn-holder button {
        padding: 5px;
    }
}