/* You can add global styles to this file, and also import other style files */

html {
    box-sizing: border-box;
}

body {
    background-image: url(./assets/images/to-do-list-background-image.jpeg);
    background-size: cover;
}

* {
    box-sizing: inherit;
}